@import url('https://fonts.googleapis.com/css?family=Poppins:200,400,500&display=swap');

* {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Poppins','sans serif';
  font-size: 25px;
  font-weight: 200;
  text-align: center;
  margin-top: 60px;
  color: grey;
}

header {
  margin-bottom: 80px;
}


h2 {
  font-family: 'Poppins','sans serif';
  font-size: 25px;
  font-weight: 400;
  text-align: center;
}

p {
  font-family: 'Poppins','sans serif';
  font-size: 15px;
  text-align: center;
  margin: 0 auto;
  color: grey;
  width: 300px;
}

div {
  margin: 30px auto;
  border-radius: 10px;
  box-shadow: 0 4px 4px hsla(0, 0%, 50%, 0.12), 0 4px 4px hsla(0, 0%, 50%, 0.12);
  width: 300px;
  height: 200px;
}

.row-1 {
  border-top: 4px solid hsl(180, 62%, 55%);
}

.col-1 {
  border-top: 4px solid hsl(0, 78%, 62%);
}

.col-2 {
  border-top: 4px solid hsl(34, 97%, 64%);
}

.row-3 {
  border-top: 4px solid hsl(212, 86%, 64%);
}

h3 {
  font-family: 'Poppins','sans serif';
  font-size: 20px;
  font-weight: bold;
  padding-top: 20px;
  padding-left: 20px;
}

div p {
  font-size: 14px;
  text-align: left;
  margin-left: 20px;
}

div img {
  float: right;
  width: 50px;
  padding-top: 40px;
  padding-right: 20px;
}

@media screen and (min-width: 1000px) {

  .card-container {
    display: flex;
    justify-content: center;
    height: 600px;
    margin-bottom: 10vh;
  }

  .row-1 {
    display: flex;
    align-items: center;
  }

  .row-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 3vw;
  }
  .row-3 {
    display: flex;
    align-items: center;
  }

}
